<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Young+Serif&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Holiday Dessert Recipes</h1>
        <nav>
          <a href="salted-caramel.html">Salted-Caramel Squares</a>
          <a href="chocolate-peppermint-brownies.html"
            >Chocolate-Peppermint Brownies</a
          >
          <a href="chocolate-raspberry-icebox-cake.html"
            >Chocolate-Raspberry Icebox Cake</a
          >
        </nav>
      </header>
      <main>
        <aside>
          <h2>Holiday Desserts</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus
            laoreet non curabitur gravida arcu ac tortor. Volutpat odio
            facilisis mauris sit amet. In dictum non consectetur a erat nam.
            Imperdiet massa tincidunt nunc pulvinar sapien et. Lacus viverra
            vitae congue eu consequat. Erat imperdiet sed euismod nisi porta.
            Orci dapibus ultrices in iaculis nunc sed augue. Parturient montes
            nascetur ridiculus mus mauris. Pulvinar neque laoreet suspendisse
            interdum consectetur libero id faucibus
          </p>

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero est
            dolores distinctio eos voluptas ex nam maxime deleniti, optio
            praesentium dicta veritatis repellendus dolorum ipsa ullam non
            possimus dolor nihil.
          </p>
          <img
            src="images/desserts-two.jpg"
            alt="desserts-two"
            id="desserts-two"
          />
        </aside>

        <h2>Air Fryer Cheesecake</h2>
        <p>
          Faucibus vitae aliquet nec ullamcorper sit amet. Purus semper eget
          duis at tellus at urna. Porttitor leo a diam sollicitudin tempor.
          Vitae tempus quam pellentesque nec. Volutpat odio facilisis mauris sit
          amet massa vitae tortor. Venenatis lectus magna fringilla urna
          porttitor rhoncus dolor. Quis eleifend quam adipiscing vitae. Vitae
          suscipit tellus mauris a diam maecenas sed enim ut.
        </p>
        <img
          src="images/air-fryer-basque-cheesecake.JPG"
          alt="air-fryer-basque-cheesecake"
          id="air-fryer-basque-cheesecake"
        />
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, non
          quidem. Accusantium, incidunt iusto minus hic eum eius quaerat nostrum
          accusamus culpa ex perspiciatis doloremque ipsum explicabo ipsam
          mollitia. Illum!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
          quisquam velit adipisci doloribus labore dolor omnis ex illum. Labore
          soluta eum excepturi ipsum quibusdam porro nobis nemo accusantium
          tenetur quas!
        </p>
      </main>

      <footer>
        <h3>&copy; 2023 Cameron Pisha</h3>
      </footer>
    </div>
  </body>
</html>
